truststore
anthropic>=0.40
openwakeword>=0.6.0
onnxruntime
faster-whisper
edge-tts
sounddevice
webrtcvad-wheels
python-dotenv
pygame-ce
requests
tzdata
numpy
scipy
librosa
torch
SpeechRecognition
matplotlib
python-docx
google-auth
google-auth-oauthlib
shazamio
opencv-contrib-python-headless==4.10.0.84
pyttsx3
